name: Docker Image CI

on:
  push:
    branches: [ "master", "feature/pipeline" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Create Environment
      run: ./setup_env.sh

    - name: Build the Docker image
      run: source venv/bin/activate && ./container_operations.py --build --uid 1000 --gid 1000

    - name: run the tests
      uses: pavelzw/pytest-action@v2
      with: 
        verbose: true
        emoji: true
        job-summary: true
        click-to-expand: true
        report-title: 'Test Report'


#    - name: stop the container
#      run: source venv/bin/activate && ./container_operations.py --stop
